<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Registrar - ShonenStream</title>
</head>
<body>
    <section class="section">
        <article>
            <picture class="logo">
                <img src="../../asset/img/photo_2023-12-141_ww18-59-52.png" width="250px" height="200px" alt="">
            </picture>
            <div class="caja_letras">
                <p><b>Registrate</b> para ver los mejores animes shonen en ShonenStream. Transmisión en línea de tus series favoritas con acción, aventura y emoción.</p>
            </div>
            <form action="">
                <input id="" type="text" name="Nombre" placeholder="   Nombre"  required />
                <input type="text" name="apellido" id="" placeholder="   Apellido" required />
                <input type="email" name="email" id="" placeholder="   Email" required />
                <input type="text" name="pais" id="" placeholder="   Pais" required />
                <input type="submit" value="Save" />
              </form>
              <b>Formulario TEMPORAL</b>

        </article>
        
    </section>
</body>
</html>