<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/075f4952e7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="login.css">
    <title>Iniciar - ShonenStream</title>
</head>
<body>
    <section class="section">
        <article>
            <picture class="logo">
                <img src="photo_2023-12-141_ww18-59-52.png" width="250px" height="200px" alt="" onclick="location.href='index.html'">
            </picture>
                <p class="caja_letras">
                    ShonenStream para disfrutar en FHD las mejores series favoritas.
                </p>
            <form action="">
                <input type="email" name="email" class="email" placeholder="   Email" required />
                <input type="password" name="password" id="" placeholder="   password" required />
                </a>
                    <input type="submit" value="Iniciar" />
                   <b class="pregunta">¿No tiene cuenta? -></b><a href="registro.html" class="registrarse">Registrarse</a>
              </form>
              <footer>
                <b>Formulario temporal</b>
              </footer>
        </article>
        <aside>
        </aside>
    </section>
</body>
</html>