<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/075f4952e7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="registro.css">
    <title>Registrar - ShonenStream</title>
</head>
<body>
    <section class="section">
        <article>
            <picture class="logo">
                <img src="asset/img/photo_2023-12-141_ww18-59-52.png" width="250px" height="200px" alt="" onclick="location.href='index.html'">
            </picture>
                <p class="caja_letras">
                    ShonenStream para disfrutar en FHD las mejores series favoritas.
                </p>
            <form action="">
                <input id="" type="text" name="Nombre" placeholder="   Nombre"  required />
                <input type="text" name="apellido" id="" placeholder="   Apellido" required />
                <input type="email" name="email" class="email" placeholder="   Email" required />
                <input type="text" name="pais" id="" placeholder="   Pais" required />
                <input type="checkbox" name="" class="checkbox" required>
                <a onclick="alert('Los términos y condiciones son una especie de contrato en la que estableces el protocolo en situaciones puntuales, frente a las cuales el usuario ya tiene claro como se va a actuar en dicho caso, y así tu empresa se protege de futuros inconvenientes o quejas.')" class="condicion_letra">
                    Aceptar terminos y condiciones <i class="fa-regular fa-file"></i>
                </a>
                    <input type="submit" value="Registrar" />
                   <b class="pregunta">¿Tienes una cuenta? -></b><a href="login.html" class="iniciar">Iniciar</a>
              </form>
              <footer>
                <b>Formulario temporal</b>
              </footer>
        </article>
        <aside>
        </aside>
    </section>
</body>
</html>