*{
    margin:0;
    padding:0;
}

/* CSS del DIV */
header{
    width: 100%;
    height: auto;
    /* CSS de logo */
    .logo{
        display: grid;
        justify-items: center;
    }
    > h1{
        color:red;
        text-align: center;
        text-transform: uppercase;
    }
    /*CSS del nav y menu*/
    .header-principal{
        display:grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 0px;
        > * {
            color: #353535;
            font-size: 1.2em;
            line-height: 1.5;
            padding: 20px;
            background: #eb2952;
        }
        > nav {
            display: grid;
            align-content: center;
            & ul {
                list-style: none;
                display: grid;
                grid-template-columns: auto auto auto;
                justify-items: center;
            }
            & li{
                display: grid;
                justify-content: center;
                width: 120px;
                height: auto !important;
                border: 2px solid black !important;
                border-radius: 15%;
                background: #ff0000;
            }
            
            & a {
                color: #f1f0f0;
                text-decoration:none;
            }

            & a:hover{
                color: white;
                text-shadow: 0px 0px 7px #fff;
            } 
        }

        /* CSS de Search */
        .search1{
            display: grid;
            align-content: center;
            justify-content: center;
            .input{
                width: 300px;
                height: 30px;
                border-radius: 10px;
            }
            .buttom_seach{
                width: 50px;
                height: 30px;
                border-radius: 10px;
            }
        }
    }
}


