<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShonenStream</title>
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
    <script src="https://kit.fontawesome.com/075f4952e7.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <div class="header-principal">

            <picture class="logo">
                <img src="/asset/img/Logo.png" alt="Logo ShonenStream en letras geniales">
            </picture>

            <nav class="Menu1">
                <ul>
                    <l1>Inicio</l1>
                    <l1>Lista de Anime</l1>
                    <l1>Noticias</l1>
                </ul>
            </nav>

            <div class="search1">
                <input type="text" placeholder=" Search Courses" name="search">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                </form>
            </div>

        </div>
    </header>

    <main>
        <h1>ShonenStream</h1>
        <section>
        </section>

        <article>
        </article>

        <aside>
        </aside>

    </main>

    <footer>
    </footer>

</body>

</html>