<!DOCTYPE html>
<!-- se cambio el idioma de ingles a español-->
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Disfruta de los mejores animes shonen en ShonenStream. Transmisión en línea de tus series favoritas con acción, aventura y emoción.">
    <meta name="keywords" content="ShonenStream, streaming de anime, anime shonen, ver anime online, acción, aventura">
    <meta name="robots" content="index, follow">
    <!-- se modifico para intentar poner el icono de la pagina-->
    <link rel="mask-icon" href="/View/favicon.ico" color="#226DAA" />
    <title>ShonenStream</title>
    <!-- Se modifico la etiqueta link de CSS como la de JS-->
    <link rel="stylesheet" href="index.css">
    <script src="../View/js/index.js"></script>
    <script src="https://kit.fontawesome.com/075f4952e7.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <picture class="logo">
            <img src="photo_2023-12-141_ww18-59-52.png" width="100px" height="90px" alt="">
        </picture>

        <header>
            <nav class="Menu1" role="navegation">
                <ul class="ul">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Lista de Anime</a></li>
                    <li><a href="#">Noticias</a></li>
                </ul>
            </nav>
        </header>

        <!-- SEARCH -->
        <div class="search1">
            <form action="">
                <input type="text" placeholder="Search Courses..." name="search" class="input">
                <button class="buttom_seach">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>

        <!--LOGIN-->
        <div class="contenedor">
            <button class="butonl" onclick="alert('Login')">Login</button>
        </div>

        <aside class="sidebar">aside</aside>

        <section>
            <article style="color:black">
                <div>pruebas</div>
            </article>
        </section>
        
        <footer>
            <div class="footer">
                <ul>
                    <li>
                        <a href="">Calendario de lanzamientos</a>
                    </li>
                    <li>
                        <a href="">Ranking de popularidad</a>
                    </li>
                    <li>
                        <a href="">Encuestas y sugerencias</a>
                    </li>
                    <li>
                        <a href=""></a>
                    </li>
                    <li>
                        <a class="fa fa-instagram" href=""></a>
                        <a class="fa fa-facebook" href=""></a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</body>

</html>